body{
	/*background-color:#E2E2E2;*/
}
.wrapper
{
    max-width: 1330px;
    margin: 0 auto;
}
	span.start{
		font-size:25px;
	}
  
  .glyphicon-hashtag::before{
    content: "#";
  }
  /* enable absolute positioning */
  .inner-addon { 
    position: relative; 
  }

  /* style icon */
  .inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
    font-size: 23px;
  }

  /* align icon */
  .left-addon .glyphicon  { left:  0px;}
  .right-addon .glyphicon { right: 0px;}

  /* add padding  */
  .left-addon input  { padding-left:  30px; }
  .right-addon input { padding-right: 30px; }
	
  .search_input {
    margin-top: 50px;
    text-align: center;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
		.search_input #search {
      /*background: #d6d6d6 none repeat scroll 0 0;*/
      background-color:#F9F9F9;
      border: 0 none;
      font-size: 25px;
      height: 50px;
    }

	.filter{
		width:100%;
		text-align: center;
	}
		.filter #check_instagram,
		.filter #check_twitter,
		.filter #check_facebook{
			float:left;
		}

		input[type=checkbox] {
    		display:none;
  		}
  		input#twitter[type=checkbox] + label{
       		background-image: url("../images/twitter1.png");
       		background-size: 20px 20px;
       		height: 20px;
       		width: 20px;
       		display:inline-block;
       		padding: 0 0 0 0px;
       		cursor:pointer;
   		}
   
   		input#twitter[type=checkbox]:checked + label{
        	background-image: url("../images/twitter_color.png");
       		background-size: 20px 20px;
       		height: 20px;
       		width: 20px;
        	display:inline-block;
        	padding: 0 0 0 0px;
        	cursor:pointer;
   		}

   		input#instagram[type=checkbox] + label{
       		background-image: url("../images/instagram12.png");
       		background-size: 20px 20px;
       		height: 20px;
       		width: 20px;
       		display:inline-block;
       		padding: 0 0 0 0px;
       		cursor:pointer;
   		}
   
   		input#instagram[type=checkbox]:checked + label{
        	background-image: url("../images/instagram_color.png");
       		background-size: 20px 20px;
       		height: 20px;
       		width: 20px;
        	display:inline-block;
        	padding: 0 0 0 0px;
        	cursor:pointer;
   		}

   		input#facebook[type=checkbox] + label{
       		background-image: url("../images/facebook55.png");
       		background-size: 20px 20px;
       		height: 20px;
       		width: 20px;
       		display:inline-block;
       		padding: 0 0 0 0px;
       		cursor:pointer;
   		}
   
   		input#facebook[type=checkbox]:checked + label{
        	background-image: url("../images/facebook_color.png");
       		background-size: 20px 20px;
       		height: 20px;
       		width: 20px;
        	display:inline-block;
        	padding: 0 0 0 0px;
        	cursor:pointer;
   		}

  .left_content{}

	#instagram-list{
		list-style-type: 
		none; padding:0;
	}
    #instagram-list .grid-sizer{
      width:250px;
    }
		#instagram-list li {
      background-color: #F9F9F9;
      border: 1px solid transparent;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
      float: left;
      margin-bottom: 20px;
      overflow: hidden;
      padding-bottom: 10px;
      width: 250px;
    }
			#instagram-list li .image{
				vertical-align: top;
				position:relative;
    			overflow:hidden;
			}
        #instagram-list li .image #video {
          color: #fff;
          left: 50%;
          margin-left: -20px;
          position: absolute;
          top: 50%;
          margin-top: -20px;
          -webkit-font-smoothing: antialiased;
        } 

			#instagram-list li .likes{
				padding:10px;
				float:left;
			}

			#instagram-list li .user{
				padding:10px;
			}
				#instagram-list li .user a{
					color:#8C8C8C;
					text-decoration: none;
				}

			#instagram-list li .text{
				padding:10px;
			}

				#instagram-list li .text a.hashtags{
					/*float:left;*/
					cursor:pointer;
					color:#8C8C8C;
					text-decoration: none;
				}

// MASONRY

#instagram-list,
#instagram-list li {
  -webkit-transition-duration: 0.7s;
     -moz-transition-duration: 0.7s;
      -ms-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

#instagram-list {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

#instagram-list li {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}

