body{
  /*background-color:#E2E2E2;*/
}
.wrapper
{
    max-width: 1330px;
    margin: 0 auto;
}
  span.start{
    font-size:25px;
  }
  
  .glyphicon-hashtag::before{
    content: "#";
  }
  /* enable absolute positioning */
  .inner-addon { 
    position: relative; 
  }

  /* style icon */
  .inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
    font-size: 23px;
  }

  /* align icon */
  .left-addon .glyphicon  { left:  0px;}
  .right-addon .glyphicon { right: 0px;}

  /* add padding  */
  .left-addon input  { padding-left:  30px; }
  .right-addon input { padding-right: 30px; }
  
  .icons {
    position: absolute;
    top: 15px;
    right: 15px;
  }

  .search_input {
    margin-top: 50px;
    text-align: center;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
    .search_input #search {
      /*background: #d6d6d6 none repeat scroll 0 0;*/
      background-color:#F9F9F9;
      border: 0 none;
      font-size: 25px;
      height: 50px;
    }

  .filter{
    width:100%;
    text-align: center;
  }
    .filter #check_instagram,
    .filter #check_twitter,
    .filter #check_facebook{
      float:left;
    }

    input[type=checkbox] {
        display:none;
      }
      input#twitter[type=checkbox] + label{
          background-image: url("../images/twitter1.png");
          background-size: 20px 20px;
          height: 20px;
          width: 20px;
          display:inline-block;
          padding: 0 0 0 0px;
          cursor:pointer;
      }
   
      input#twitter[type=checkbox]:checked + label{
          background-image: url("../images/twitter_color.png");
          background-size: 20px 20px;
          height: 20px;
          width: 20px;
          display:inline-block;
          padding: 0 0 0 0px;
          cursor:pointer;
      }

      input#instagram[type=checkbox] + label{
          background-image: url("../images/instagram12.png");
          background-size: 20px 20px;
          height: 20px;
          width: 20px;
          display:inline-block;
          padding: 0 0 0 0px;
          cursor:pointer;
      }
   
      input#instagram[type=checkbox]:checked + label{
          background-image: url("../images/instagram_color.png");
          background-size: 20px 20px;
          height: 20px;
          width: 20px;
          display:inline-block;
          padding: 0 0 0 0px;
          cursor:pointer;
      }

      input#facebook[type=checkbox] + label{
          background-image: url("../images/facebook55.png");
          background-size: 20px 20px;
          height: 20px;
          width: 20px;
          display:inline-block;
          padding: 0 0 0 0px;
          cursor:pointer;
      }
   
      input#facebook[type=checkbox]:checked + label{
          background-image: url("../images/facebook_color.png");
          background-size: 20px 20px;
          height: 20px;
          width: 20px;
          display:inline-block;
          padding: 0 0 0 0px;
          cursor:pointer;
      }

  .left_content{}

  #instagram-list,
  #twitter-list{
    list-style-type: 
    none; padding:0;
  }
    #instagram-list .grid-sizer,
    #twitter-list .grid-sizer{
      width:250px;
    }
    #instagram-list li,
    #twitter-list li {
      background-color: #F9F9F9;
      border: 1px solid transparent;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
      float: left;
      margin-bottom: 20px;
      overflow: hidden;
      padding-bottom: 10px;
      width: 250px;
    }
      #instagram-list li .image,
      #twitter-list li .image{
        vertical-align: top;
        position:relative;
          overflow:hidden;
      }
        #instagram-list li .image #video,
        #twitter-list li .image #video{
          color: #fff;
          left: 50%;
          margin-left: -20px;
          position: absolute;
          top: 50%;
          margin-top: -20px;
          -webkit-font-smoothing: antialiased;
        } 

      #instagram-list li .likes,
      #twitter-list li .likes,{
        padding:10px;
        float:left;
      }

      #instagram-list li .user,
      #twitter-list li .user{
        padding:10px;
      }
        #instagram-list li .user a,
        #twitter-list li .user a,{
          color:#8C8C8C;
          text-decoration: none;
        }

      #instagram-list li .text,
      #twitter-list li .text{
        padding:10px;
      }

        #instagram-list li .text a.hashtags,
        #twitter-list li .text a.hashtags{
          /*float:left;*/
          cursor:pointer;
          color:#8C8C8C;
          text-decoration: none;
        }

// MASONRY

#instagram-list,
#instagram-list li ,
#twitter-list,
#twitter-list li{
  -webkit-transition-duration: 0.7s;
     -moz-transition-duration: 0.7s;
      -ms-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

#instagram-list,
#twitter-list {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

#instagram-list li,
#twitter-list li, {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}

  /* 
    Ribbon
  */
  .gettype {
      right: 10px;
  }
  .ribbon {
      display: block;
      width: 30px;
      position: relative;
      color: #fff;
      padding: 20px 0 10px;
      text-align: center;
      font-family: arial, sans-serif;
      font-weight: bold;
      text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  }

  .ribbon:before {
      display: block;
      width: 30px;
      height: 0;
      position: absolute;
      top: 4px;
      content: "";
      border-top: 1px dotted rgba(0, 0, 0, 0.2);
      border-bottom: 1px dotted rgba(255, 255, 255, 0.3);
  }

  .ribbon:after {
      display: block;
      width: 0;
      height: 0;
      content: "";
      position: relative;
      bottom: -25px;
      z-index: 100;
      border-width: 0 15px 15px 15px;
    border-style: solid;
  }

  /* 
      Ribbon colors 
  */
  .ribbon.twitter {
      background-color: #17a1d0;
      background-repeat: repeat-x;
      background-image: -khtml-gradient(linear, left top, left bottom, from(#32bae8), to(#17a1d0));
      background-image: -moz-linear-gradient(top, #32bae8, #17a1d0);
      background-image: -ms-linear-gradient(top, #32bae8, #17a1d0);
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #32bae8), color-stop(100%, #17a1d0));
      background-image: -webkit-linear-gradient(top, #32bae8, #17a1d0);
      background-image: -o-linear-gradient(top, #32bae8, #17a1d0);
      background-image: linear-gradient(top, #32bae8, #17a1d0);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#32bae8', endColorstr='#17a1d0', GradientType=0);
  }
  .ribbon.twitter:after {
      border-color: #17a1d0 #17a1d0 transparent #17a1d0;
  }

  .ribbon.instagram {
      background-color: #323232;
      background-repeat: repeat-x;
      background-image: -khtml-gradient(linear, left top, left bottom, from(#4b4b4b), to(#323232));
      background-image: -moz-linear-gradient(top, #4b4b4b, #323232);
      background-image: -ms-linear-gradient(top, #4b4b4b, #323232);
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4b4b4b), color-stop(100%, #323232));
      background-image: -webkit-linear-gradient(top, #4b4b4b, #323232);
      background-image: -o-linear-gradient(top, #4b4b4b, #323232);
      background-image: linear-gradient(top, #4b4b4b, #323232);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4b4b4b', endColorstr='#323232', GradientType=0);
  }
  .ribbon.instagram:after {
      border-color: #323232 #323232 transparent #323232;
  }


img[src=""] {
   display: none;
}